* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f9f9fb;
  margin: 0px;
  font-family: 'Product Sans', Arial, sans-serif;
}

header {
  position: relative;
  display: block;

  top: 0;
  width: 100%;
  height: 120px;
  background-color: #f9f9fb;
  z-index: 10;
}

.nav-wrapper {

  width: 100%;
  height: 120px;
  transition: all .3s ease;


  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  position: relative;
  max-width: 1200px;
  width: 100%;
  overflow: visible;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;


  box-sizing: border-box;


  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.left-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

section{ margin-top: 94px; }

#brand { padding: 10px; font-weight: 500; font-size: 24px; }

.nav-ul { display: inline-flex; margin: 0px; }
.nav-li { display: block; padding: 15px; }
.nav-li a { cursor: pointer; }

.img-bg {
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

#img-bg-1 {
  background-image: url("/images/1.png");
}

#img-first-bg:before { content: ""; background: rgba(0,0,0,.2); position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.section {
  height: 400px;
  position: relative;
  background-color: #f9f9fb;
  overflow: hidden;
 }

.margin-t-800 {
  margin-top:
  800px;
}

.scrolled {
  font-size: 14px;
  height: 70px;
  background-color: #f9f9fb;
  border-bottom: 2px solid #e9e9e9;
}


@media only screen and (max-width: 500px) {
  /*모바일을 대응*/
}
