* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f9f9fb;
  margin: 0px;
  font-family: 'Product Sans', Arial, sans-serif;
}

p {
  margin: 0;
}


header {
  position: relative;
  display: block;

  top: 0;
  width: 100%;
  height: 120px;
  background-color: #f9f9fb;
  z-index: 10;
}

.nav-wrapper {
  background-color: #f9f9fb;
  width: 100%;
  height: 120px;
  transition: all .3s ease;


  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}


#gdg-logo {
  max-width: 100%;
  display: inline-block;
  margin-bottom: 0px;
  height: 30px;
  margin-right: 5px;
}

#gdg-logo img {
  display: block;
  height: 29px;
  width: 29px;
  vertical-align: middle;
}

#brand {
  /*max-width: 100%;*/
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
}


.nav-ul {
  display: inline-flex;
  margin: 0px;
}

.nav-li {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  color: #888;
}

.nav-li a { cursor: pointer; }

.nav-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  position: relative;
  max-width: 1200px;
  width: 100%;
  overflow: visible;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;


  box-sizing: border-box;


  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.left-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}


.right-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.fb-btn {
  height: 36px;
  padding: 0 5px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  display: block;
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;

  fill: #888;


  box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
}

.rsvp-btn {
  height: 36px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #4353ff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;

  box-shadow: 0 1px 1px 0 rgba(10, 16, 34, .2);
}

.rsvp-btn a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

section{

 }

 .section {
   position: relative;
   background-color: #f9f9fb;
   overflow: hidden;
   padding-top: 100px;
   padding-bottom: 100px;

   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;

  }

 .section-container {
   -webkit-box-pack: start;
   -webkit-justify-content: flex-start;
   -ms-flex-pack: start;
   justify-content: flex-start;

   padding-right: 0px;
   padding-left: 0px;

   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
   max-width: 1200px;
   -webkit-box-flex: 0;
   -webkit-flex: 0 auto;
   -ms-flex: 0 auto;
   flex: 0 auto;
 }

 .part-intro {
   padding-left: 50px;

   display: block;
    width: 900px;
    padding-right: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
 }

 .intro-content {
   padding-top: 10px;
   line-height: 30px;
   font-weight: 500;
 }



.img-bg {
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

#img-bg-1 {
  background-image: url("../images/1.png");
}

#img-first-bg:before { content: ""; background: rgba(0,0,0,.2); position: absolute; top: 0; left: 0; right: 0; bottom: 0; }


.margin-t-800 {
  margin-top:
  800px;
}

.scrolled {
  height: 70px;
  background-color: #f9f9fb;
  border-bottom: 2px solid #e9e9e9;
}


@media only screen and (max-width: 500px) {
  /*모바일을 대응*/
}
