.img-bg {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

#img-bg-2 {
  background-image: url("../images/3.jpeg");
  -webkit-filter: url("#svgfilter");
  -moz-filter: url("#svgfilter");
  -o-filter: url("#svgfilter");
  -ms-filter: url("#svgfilter");
  filter: url("#svgfilter");
}

#img-bg-3 {
  background-image: url("../images/hero_3.png");
}
