.img-bg {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

#img-bg-2 {
  background-image: url("../images/3.jpeg");
  -webkit-filter: url("#svgfilter");
  -moz-filter: url("#svgfilter");
  -o-filter: url("#svgfilter");
  -ms-filter: url("#svgfilter");
  filter: url("#svgfilter");
}

#img-bg-3 {
  background-image: url("../images/hero_3.png");
}

.org-profile img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}

.organizer {
  width: 100%;
}

.div-schedule-wrapper{
  margin-top: 20px;
}

.div-schedule {
  border: 1px solid #9e9e9e;
  padding: 20px;
}

.table-schedule{
  width: 100%;
}

.table-title{
  font-size: 26px;
  padding: 20px;
}

.table-schedule tbody{
  text-align: center;
  outline: 1px solid #e5e5e5;
}

.table-schedule td {
  padding: 10px;
}

.border-outline{
  border-bottom: 1px solid #e5e5e5;
}

.part-schedule, .part-speakers {
  padding: 0px 20px;
}

@media only screen and ( min-width : 768px ){
  .part-schedule, .part-speakers {
    padding: 0px 100px;
  } 
}